<!DOCTYPE html>
<html lang="en">
	<head> 
		<title>Hello!</title>
	<head>
	<body>
		Hello, world!

        Edit customer details with this form!

        <form action="/edit_customer" method="POST">

            <select name = "customer_id" id = customer-select>
                <option value = "">Please select a customer</option>
                {% for customer in customers%}
                <option value = "{{ customer.id }}">
                    {{ customer.name }} | {{ customer.email }}
                </option>
                {% endfor %}
            </select>

            <input type="text" placeholder="New Full Name" name="updated_name">
            <input type="text" placeholder="New Email Address" name="updated_email">
            <input type="text" placeholder="New Telephone Number" name="updated_phone">
            <!-- Default value of false for checkboxes-->
            Marketing
			<input type="checkbox" name="updated_marketing">
            Newsletter Opt-In
			<input type="checkbox" name="updated_newsletter">

			<button type="submit">Submit</button>
        </form>
	</body>
</html>