<!DOCTYPE html>
<html lang="en">
	<head> 
		<title>Hello!</title>
	<head>
	<body>
		Hello, world!

		<div>
			This is my little page :)
		</div>

		<div>
			Select where you'd like to go below :D
		</div>
 
		<div>
			<a href = "/view_customers">View All Customers</a>
		</div>

		<div>
			<a href = "/new_customer">Add a New Customer</a>
		</div>

		<div>
			<a href = "/edit_customer">Edit an Existing Customer</a>
		</div>

		<div>
			<a href = "/reset_customers">(DANGER ZONE) Reset Customers Table</a>
		</div>

	</body>
</html>