<!DOCTYPE html>
<html lang="en">
	<head> 
		<title>Hello!</title>
	<head>
	<body>
		Hello, world!

        This is a form for the customers table :D

        <form action="/add_customer" method="POST"> #tells form where to send data
            <input type="text" placeholder="Full Name" name="name">
            <input type="text" placeholder="Email Address" name="email">
            <input type="text" placeholder="Telephone Number" name="phone">
			<input type="submit">
        </form>
	</body>
</html>